<!doctype html>
<html>
  <head>
    <title>About <%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/FitBookmain.css" />
  </head>
  <body>
    <h1>About <%=shopData.shopName%></h1>
    <p>Hello, this is the FitBook website. With this web application you can find and book fitness classes easily. Users can view a list of available classes, see details such as the instructor, time, and difficulty level, and book a class that you are interested in.</p>
  </body>
</html>