<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/FitBookmain.css" />
</head>
<body>
    <h1>Admin Dashboard</h1>

    <ul>
        <li><a href="/admin/classes">Manage Classes</a></li>
        <li><a href="/admin/classes/add">Add New Class</a></li>
        <li><a href="/admin/logout">Logout</a></li>
    </ul>
</body>
</html>
