<!doctype html>
<html>
  <head>
    <title>Welcome to <%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/FitBookmain.css" />
  </head>
  <body>
    <h1>Welcome to <%=shopData.shopName%></h1>
    <p><a href="about">About <%=shopData.shopName%></a></p>
    <p><a href="users/register">Register with us</a></p>
    <p><a href="users/login">Login to your account</a></p>
    <p><a href="bookings/book">Book a Class</a></p>
    <p><a href="bookings/viewbookings">View all Bookings</a></p>
    <p><a href="classes/search">Search for Classes</a></p>
    <p><a href="classes/list">View all Classes</a></p>
    <p><a href="users/audit">View Audit Log</a></p>
    <p><a href="admin/login">Admin Login</a></p>
    <p><a href="admin/dashboard">Go to the Admin Dashboard</a></p>
    <p><a href="/logout">Logout</a></p>
  </body>
</html>